<%- include('../_layout/header') %>
<!-- <style>
      .body{
            margin-left: 5%;
            margin-right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            height: 100px;
      }
</style> -->

  <h2 class="page-title">Maintenance</h2>
  <form action="/admin/backup" method="get">
    <button class="btn btn-primary">Backup</button>
    <button class="btn btn-primary">Restore</button>
  </form>


<%- include('../_layout/footer') %>
