* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica, Arial, sans-serif;
}
main {
  min-height: 100vh;
}


body {
  background-color: #eff3f6;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

a.area2 {
  color: #a9b7d0 ;
  text-decoration: none;
}

a.area2:hover {
  color: #0b1a17 ;
  text-decoration: none;
  border: #d9e0df;
}

a.edit {
  color: blue;
}

a.delete {
  color: red;
}

span.area {
  color: white;
}

.container-fluid {
  /* height: 100%; */
  padding-left: 1px;
}

#sidebarMenu {
  background-color: #32776B;
}

.container-area {
  /*display: flex;*/
  min-height: 100vh;
}

.container-page {
  /*margin: 0px 30px;*/
  /* margin-top: 50px; */
  min-height: 100vh;
  /* margin-left: 250px; */
  transition: 1s all;
  background: linear-gradient(rgba(1, 1, 31, 0.3), rgba(1, 1, 31, 0.3)),
    url("https://uogcomp1640tup.herokuapp.com/image/class2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
  padding-left: 0px;
}

.container {
  padding-left: 200px;
  width: 100%;
  transition: 1s all;
}

.non-pl {
  padding-left: 0px;
}

.side-bar {
  position: fixed;
  max-width: 200px;
  width: 100%;
  background-color: #3f4d67;
  z-index: 100;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  height: 100%;
}

.side-bar-content {
  position: fixed;
  width: 200px;
}

.side-bar::-webkit-scrollbar {
  display: none;
}

.top-header {
  position: sticky;
  top: 0;
  /* background-color: #343a40; */
  background-color: #343a40;
  display: flex;
  height: 80px;
  box-shadow: 1px 0 20px 0 #3f4d67;
  z-index: 150;
  width: 100%;
}

.nav-header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
}

.link-header {
  padding: 0 20px;
  text-align: center;
}

.nav-link-top {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 200px;
  /* background: linear-gradient(-45deg, rgba(52, 58, 64, 0), rgb(52, 58, 64)); */
  background-color: #343a40;
  /* box-shadow: 0px 4px 10px 0px; */
  height: 80px;
  
}

.nav-link-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link-top .link-header:first-child {
  width: 100%;
}

.nav-link-top .link-header:last-child {
  /* position: absolute; */
  /* right: 0px;
    top: 50%; */
  /* transform: translate(0px, -50%); */
  padding: 0px 10px;
}
.nav-link-topp {
  margin-left: 65%;
}
.link-header a {
  font-size: 25px;
}

.link-header.hamburger a {
  font-size: 45px;
}

.header .link:first-child {
  padding-left: 0px;
}

.acc {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px;
}

.img-acc {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.img-acc img {
  height: 40px;
  border-radius: 50%;
}

.img-acc svg {
  position: absolute;
  bottom: 7px;
  color: white;
}

.img-acc:hover svg {
  animation: img 1s infinite;
}

.side-bar a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.side-bar .link-header.active a {
  color: aliceblue;
}

.side-bar .link-header {
  display: none;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
  position: relative;
  text-align: left;
  font-weight: 0 !important;
}

.side-bar .link-header button {
  padding: 0px;
  background: none;
  outline: none;
  border: none;
}

.title-bar {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #e8edf7;
}

.cate-bar {
  padding: 0rem 0rem 0.25rem 0rem;
}

.cate-bar > div:hover {
  color: #1dddb4;
}

.cate-bar a:hover {
  color: #1dddb4 !important;
  text-decoration: none;
}

.cate-bar-title {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  position: relative;
  color: #a9b7d0;
  cursor: pointer;
}

.cate-bar-title.active {
  background-color: #333f54;
  color: #fff;
}

.cate-bar-title span {
  position: absolute;
  right: 0;
}

.cate-bar-title i {
  margin-right: 10px;
}

.title {
  display: flex;
}

.title h1 {
  color: white;
  font-size: 80px;
  font-weight: bold;
  padding: 30px;
  margin: 0;
}

.cate-bar-link {
  background: #39465e;
}

.cate-bar-link a {
  color: #a9b7d0 !important;
}

@keyframes img {
  0% {
    bottom: 7px;
  }
  50% {
    bottom: 5px;
  }
  100% {
    bottom: 3px;
  }
}

@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0px;
    width: 100%;
    height: 100%;
  }

  .container-page {
    padding-left: 0px;
  }
}

.navbar-custom {
  background-color: #32776B;
}

.navbar-brand {
  color: white !important;
  ;
}


.inforBody {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  height: 700px;
  background-color: white;
}

.inforBody table {
  width: 100%;
  height: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border-collapse: collapse;
  padding: auto;
}

.inforBody thead {
  background-color: #f2f2f2;
  overflow: auto;
  height: 30px;
}

.inforBody i {
  margin-left: 5%;
  font-size: large;
  color: black;
}

.inforBody thead th {
  height: 30px;
  padding: auto;
  background-color: rgba(214, 214, 214, 0.945);
}
.body{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100px;
}
.body a{
  /* margin-left: 5%; */
  margin-right: 5%;
  width: 200px;
  height: 50px;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}
/* .body a:hover{
  background-color: #32776b;
  color: white;
}
.body a:active{
  background-color: #32776b;
  color: white;
}
.body a:focus{
  background-color: #32776b;
  color: white;
}
.body a:visited{
  background-color: #32776B;
  color: white;
} */
.body p{
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 5%;
  font-size: large;
  color: white;
}
.body h2{
  margin-left: 5%;
  margin-right: 5%;
  font-size: 50px;
  color: black;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}



.header form {
  margin-top: 5px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 600px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  margin-left: 20%;
}

.header form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.header form input:focus {
  border: none;
}

.header form input::placeholder {
  color: #ccc;
}

.header form input:focus::placeholder {
  color: #ccc;
}

.header form input::-webkit-input-placeholder {
  color: #ccc;
}

.header form input:focus::-webkit-input-placeholder {
  color: #ccc;
}

.mid {
  background-color: white;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ccc;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.mid li {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #ccc;
}

.mid .headerMid {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.bodyConatainer {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: column;
  border-width: 1px;
  background-color: white;
  align-items: center;
}

.contentContainer {
  width: 100%;
  height: 80%;
  border-width: 1px;
  background-color: white;
  align-items: center;
  overflow: auto;
  margin-bottom: 18px;
}

.footerContainer {
  width: 100%;
  height: 100px;
  border-width: 1px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.contentContainer li {
  list-style: none;
  display: flex;
  width: 80%;
  height: 88px;
  background-color: #E9F1F5;
  margin-top: 20px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.viewContainer {
  width: 100%;
  height: 100px;
  border-width: 1px;
  display: flex;
  flex-direction: row;
}

.viewLeft {
  width: 65%;
  height: 100px;
  border-width: 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viewLeft h5 {
  font-size: 18px;
  font-weight: 600;
  margin-left: 20px;
}

.viewLeft p {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 500;
}

.viewRight {
  width: 30%;
  height: 100px;
  border-width: 1px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: auto;
}

.viewRight i {
  font-size: 20px;

}